
* {  
}


main {
  margin: 0rem 0rem 0rem 01rem;
  justify-content: flex-start;
}

.side-bar {
  height: 100vp;
  width: 16rem;
  position: static;
  z-index: 1;
  padding: 1rem 0.5rem 0.5rem 0.5rem;;
  margin-left: 0;
}

.side-bar .box {
  margin: 0rem 0rem 0rem 1rem;
}

.results {
  margin: 1.75rem 1.75rem 1rem 1rem;
}

#weather-panel {
  margin: 0rem 0rem 0rem 0rem;
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


#tagline {
  z-index: 3;
  text-align: center;
  width: 100%;
  height: 2rem;
}


@media screen and (max-width: 768px){
  .side-bar .box {
    margin: 0rem 1rem 0rem 1rem;
  }
  .results {
    margin: 0rem 1.5rem 0rem 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  header {
    position: sticky;
    top: 0;
    z-index: 3;
  }
}
